body {
  background-color: $body-bg;
  color: $text-default;
}

.home { color: $gray-lighter; }

.post-list-heading { color: $link-accent; }

span.post-meta { color: $white-off; }

.post-link { color: $link-accent;
  &:visited { color: $link-accent; }
  &:hover { text-decoration: none; color: $link-accent-hover; }
}

.rss-subscribe a { color: $link-accent;
  &:visited { color: $link-accent; }
  &:hover { text-decoration: none; color: $link-accent-hover; }
}

.dt-published { color: $white-off; }

.post-content { color: $text-default; }

.post-content a { color: $link-accent;
  &:visited { color: $link-accent; }
  &:hover { text-decoration: none; color: $link-accent-hover; }
}

.highlighter-rouge { color: $header-footer-bg; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hero {
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}